.content {
  max-width: 85%;
  margin: 0 auto;
}

.p-y-15 {
	padding-top: 15px;
  padding-bottom: 15px;
}

.recipe-img {
  border-radius: 15px;
}

.recipe-div {
  position: absolute;
  border-style: none;
  border-radius: 15px;
  display: inline-block;
  padding: 8px;
  background: #fff;
  top: 0;
  left: 0;
}

.recipe-div:hover {
  background: #e0e0e0;
}

.recipe-div:hover h1 {
  color: #44474d;
}


.peiceMeal h1 {
  font-weight: 500;
  text-decoration: none;
  font-size: 15px;
  color: #868990;
}

.recipe-div :hover {
  text-decoration: none;
}
